/* main stylesheet for updated John Cammack pages */
/* Alun Ward, 2005 for EyeDivision www.eyedivision.com */
/* alun@eyedivision.com 
/* edited 03 Feb 2006 - red on green links removed for coour blindness problem
---------------------------------*/
html { 
	height: 100%;
	margin: 0px;
	padding: 0px;
}
body {
	position:relative;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:1em;
	color: #000000;
	line-height: 2em;
	background-color: #FFFFFF;
	margin: 0px;
	text-align: center;
	height: 100%;
	padding: 0;
	width: 100%;
}

#container {
	width: 800px;
	/*
	height: 100%;
	position: absolute;
	left: 20%;
	top: 20%;
	*/
	line-height: 130%;
	margin: 5% auto;
	text-align: left;
	border: 1px #999 solid;
	padding: 0px;
}
#topnav {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 0.7em; 
	color: #FFF;
	background-color:#006666;
	text-align: left;
	
}
#topnav A { margin-left: 5px; margin-right: 20px; }
#topnav A:link { font-weight: bold; color:#FFF; background-color: #006666; text-decoration: none; border: none; }
#topnav A:visited { font-weight: bold; color:#FFF; background-color: #006666; text-decoration: none; border: none;  }
#topnav A:hover { font-weight: bold; color:#FF9933; background-color: #006666; text-decoration: none; border: none;  }
#topnav A:active { font-weight: bold; color:#FF9933; background-color: #006666; text-decoration: none; border: none;  }

#topnav a.selected { color:#FF9933; }
#topnav a.selected:link { color:#FF9933; }
#topnav a.selected:visited { color:#FF9933; }
#topnav a.selected:hover { color:#FF9933; }
#topnav a.selected:active { color:#FF9933; }

#subTopMenu {
	font-size: 0.7em; 
	color:#999;
	background-color:#E5F2F2;
	text-align: left;
	margin: 0px;
	padding: 0px;
}
#subTopMenu A { background-color: #E5F2F2; text-decoration: none; border: none; }
#subTopMenu A:link { color:#000; }
#subTopMenu A:visited { color:#000;   }
#subTopMenu A:hover { color:#FF9933;  }
#subTopMenu A:active {  color:#FF9933; }

#subTopMenu a.selected { color:#FF9933; }
#subTopMenu a.selected:link { color:#FF9933; }
#subTopMenu a.selected:visited { color:#FF9933; }
#subTopMenu a.selected:hover { color:#FF9933; }
#subTopMenu a.selected:active { color:#FF9933; }

#content {	
	width: 800px;
	padding: 0px;
	margin: 0px;	
	font-size: 90%;
	height: 350px;
	
	/*border: 1px solid grey;  */
}

#quote {
	float:right;
	width:120px;
	margin: 20px 5px 150px 30px;	/* margin is OUTSIDE width TOP RIGHT BOTTOM LEFT */
	padding-left: 5px;
	font-size: 0.9em;
	
}

#right {
	float:right;
	width:180px;
	height: 100%;
	margin:0px;
	padding: 0px;
	font-size: 0.8em; 
	font-weight: bold;
	color:#999;
	background-color:#E5F2F2;
	background-image:url('../images/right_bg.gif');
	background-repeat:repeat-y;
	background-position: top;
	text-align: left;
	line-height: 180%;
	border-left: 1px #999 solid;
}

#right A { 
	font-size: 1.1em;
	padding-left: 10px;
}

#right A { font-weight: bold; background-color:#E5F2F2; text-decoration: none; border: none; }
#right A:link {  color:#006666; }
#right A:visited { color:#006666;   }
#right A:hover { color:#FF9933;  }
#right A:active { color:#FF9933;  }

#right a.submenu { padding-left: 25px; font-size: 1em; }
#right a.submenu:link { color:#006666; }
#right a.submenu:visited { color:#006666; }
#right a.submenu:hover { color:#FF9933; }
#right a.submenu:active { color:#FF9933; }

#right a.subSelected { padding-left: 25px; font-size: 1em; color:#FF9933; }
#right a.subSelected:link { color:#FF9933; }
#right a.subSelected:visited { color:#FF9933; }
#right a.subSelected:hover { color:#FF9933; }
#right a.subSelected:active { color:#FF9933; }

#right a.selected { color:#FF9933; }
#right a.selected:link { color:#FF9933; }
#right a.selected:visited { color:#FF9933; }
#right a.selected:hover { color:#FF9933; }
#right a.selected:active { color:#FF9933; }


#main {
	width: 586px;
	margin: 0px 0px 0px 0px;	/* 500 + 50 + 50 = 780 */
	padding: 0px 10px 0px 20px; 
	overflow:auto;	/* adds scrollbar */
	height: 350px;
}

#main H1, #main H2 { padding-top: 20px; } 
#footer {
	clear:both;
	width: 800px;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 2px;
	text-align:center;
	font-size: 80%;
	color: #FFF;
	font-weight:bold;
	background-color:#339999;
	line-height:140%;
	height: 75px;
	width: 800px;
	border-top: thick #006666 solid;
}

#credits {
	clear:both;
	font-size: 10px;
	text-align: center;
	padding-top: 5px;
}
h1 { 	
	color: #006666;
	font-size: 1.1em; 
	font-weight: bold;
}
h2 { 
	color: #006666;
	font-size: 1em; 
	font-weight: bold;
}
h3 { font-size: 0.9em; }

P { 

}

b, strong { font-weight: 900; }

li, ul, ol {  
	font-style: normal; 
	font-weight: normal; 

}

.small { font-size: 10px; }

a:link { color: #006666; background-color: #FFF; text-decoration: none; border-bottom: 1px solid #006666; }
a:visited { color: #006666; background-color: #FFF; text-decoration: none; border-bottom: 1px solid #006666;}
a:hover { color:#FF9933; background-color: #FFF; text-decoration: none; }
a:active { color:#FF9933; background-color: #FFF; text-decoration: none;}


/* form stuff */
form, label, input { font-size : 1em; }
fieldset { padding : 0.5em 1em; } /* fill full width */
label { width : 15em; display : block; margin : .5em 0em; }
label input { width : 10em; }
input.submit { margin-left : 15em; }
#top br { display : none; }