<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo" title="Return home">

      <h1 class="title">{{ site.title }}</h1>
      <p class="subtitle not-mobile">{{ site.subtitle }}</p>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <span class="menu-title">MENU</span> <svg class="icon icon-menu"><use xlink:href="#icon-reorder" /></svg>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="dropdown navigation-menu show">

        {% for link in site.data.nav %}

          <li class="nav-link{% unless link.title == "Home" %}{% if page.url contains link.href %} active{% endif %}{% endunless %}">
            <a href="{{ link.href | prepend: site.baseurl }}"  class="">{{ link.title }}</a>
          </li>

        {% endfor %}

      </ul>
    </nav>
  </div>
</header>
