// -----------------------------------------------------------------------------
// This file contains all styles related to the header
// -----------------------------------------------------------------------------

/// logo
.title {
    color: $white;
}
.subtitle {
    color: $white;
    font-family: $subheading-font-family;
    font-size: modular-scale(2);
}
.logo {
    display: block;
    color: $white;
    padding: 0 0.5em;

    span {
        font-size: 1.25em;
    }
    h1 {
        margin-bottom: 0;
        font-size: modular-scale(5);
    }

    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
        //color: shade($link-color, 10%);
    }
    &:active,
    &:focus {
        outline: none;
    }
}
