// -----------------------------------------------------------------------------
// This file contains some basic styles - overriding Bourbon defaults
// -----------------------------------------------------------------------------

///	Globals

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    height: 100%;
}

// set up grid

body {
    height: 100%;
    @include display(flex);
    @include flex-direction(column);
    // grid setup
    display: grid;
    grid-template-areas:
      "header"
      "page"
      "footer";
    grid-template-rows: 20% 1fr minmax(240px,20%);
    grid-gap: 10px;
    @include media ($small) {
        grid-template-rows: 170px 1fr minmax(240px,20%);//grid-template-rows: minmax(190px, 20%) 1fr minmax(240px,20%);
    }
    height: 100vh;
    margin: 0;
    background-color: $base-background-color;
}

.navigation, .site-footer {
    @include flex(none);
    //@include flex(1 0 auto);
}
.navigation {
    grid-area: header;
}
.site-footer {
    grid-area: footer;
}
.page-content {
    @include flex(1 0 auto);
    grid-area: page;
}

section {
    clear: both;
    padding: 1rem 0;
}

ol.default {
    @extend %default-ol;
}

ul.default {
    @extend %default-ul;
}

pre code.hljs {
    font-size: modular-scale(-1);
}

figure {
    margin: 0 0 1em 0;
}
// layout elements

.half {
    @include span-columns(12);
    @include media ($small) {
        @include span-columns(6);
    }
}
.textright {
    text-align: right;
}

///	Body
.page-content {
    @include outer-container;
}
.page {
    //@include outer-container;
    padding: 1em;
    background-color: $white;
    @include media ($medium) {
        padding: 1em 0;
    }
}
.page.two-column {

    @include media ($medium) {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-gap: 10px;
        align-items: start;
        align-content: start;
    }
}
img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}


